---
import ListFile from '@components/files/list-file.svelte';
const { ids, caption } = Astro.props;
import { db } from '@db/db';
import { filesTable } from '@db/schema';
import { inArray } from 'drizzle-orm';
import { buildImage } from '@lib/image';

const files = await db.select().from(filesTable).where(inArray(filesTable.fileId, ids)).all();
const filesWithThumbs = await Promise.all(
  files.map(async (file) => {
    const thumb = await buildImage(file.url as string, '');
    return { ...file, thumb };
  })
);
---

<div class="gridFlex">
  <div class="grid">
    {filesWithThumbs.map((file) => <ListFile fileRecord={file} client:only="svelte" />)}
  </div>
  <p class="caption">{caption}</p>
</div>

<style>
  .gridFlex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 6rem auto !important;
  }
  .grid {
    display: grid;
    width: 100%;
    max-width: 100%;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
  }
  .caption {
    text-align: center;
    color: var(--fg);
    display: inline-block;
    font-family: var(--codeFont);
    padding: 0rem 0.25rem;
    font-size: 0.9rem;
    max-width: 20rem;
  }
</style>
