.in-view {
  animation: slideup 0.2s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 200ms;
  opacity: 0;
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
  }
}
