---
import Base from '@layouts/base.astro';
import Timeline from '@components/timeline/timeline.astro';
---

<Base pageTitle="About me">
  <div class="about">
    <h1>About me</h1>
    <p>
      Hello random visitor. My name is Dave Snider. I've been working with computers in some form or another since the
      early 90s when I hacked away on an old IBM PS2 and a pre-www Prodigy account. Previously I've built companies from
      scratch and run big teams for large companies, but these days I take joy from working daily in design code. I
      currently work at Xata as a Designer.
    </p>
    <p>
      I am 43 years old and live in Annapolis, Maryland with my wife, two kids, and many animals. I collect hobbies and
      enjoy learning new things constantly. This site often logs my awkward attempts to master them, but often I just
      move on to something new once I've figured out the basics. I am forever a beginner who approaches life with an
      unbreakable optimism inherited from Star Trek and The Muppets.
    </p>
    <p>
      A less colorful copy of my <a
        href="https://docs.google.com/document/d/1qiDiPQx6GqBQYM42dDb3AS3LSsdf1wgQaQhNE45_GQM"
        >formal resume can be found here</a
      >.
    </p>
    <h2>Timeline</h2>
    <p>
      Here is the rough memory of some major events in my life, along with some mentions of the people and art that
      shaped my opinions.
    </p>
    <Timeline />
  </div>
</Base>

<style>
  .about {
    max-width: 40rem;
    margin: 0 auto;
  }
  .about p {
    font-size: 1.25rem;
    color: var(--subtle);
  }
  .about h1,
  .about h2 {
    font-family: 'Sovana', serif;
    line-height: 1.1;
  }

  .about h1 {
    font-size: 3rem;
  }
  .about h2 {
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  .about > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .about a {
    padding: 0.1rem 0.2rem;
    font-weight: 700;
    text-decoration: underline;
    color: var(--fg);
  }

  .about a:hover {
    background-color: var(--fg);
    color: var(--bg);
    outline: solid 2px var(--fg);
  }
  @media (max-width: 768px) {
    .about p {
      font-size: 1.1rem;
    }
    .about h1 {
      font-size: 2rem;
    }
    .about h2 {
      font-size: 1.5rem;
    }
  }
</style>
