---
import Base from '@layouts/base.astro';
import { getCollection, getEntryBySlug } from 'astro:content';
const posts = await getCollection('posts');
import '@styles/posts.css';
import '@styles/animations.css';

const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.pubDate) - new Date(a.data.pubDate);
});
---

<Base pageTitle="Posts">
  <div class="postList">
    {
      sortedPosts.map((post, index) => (
        <a href={`/posts/${post.slug}`} class="animate-item">
          <h3>{post.data.title}</h3>
          <p>{post.data.description}</p>
        </a>
      ))
    }
  </div>
</Base>

<script>
  import '@services/animate.ts';
</script>
