---

---

<div class="mobileMenu">
  <h2><a href="/">Dave Sníd</a></h2>
  <button id="mobileMenuButton">&equiv;</button>
</div>

<script>
  const navElement = document.getElementById('nav');
  const handleToggleClick = () => {
    navElement?.classList.toggle('isOpen');
    document.body.classList.toggle('noScroll');
  };

  document.getElementById('mobileMenuButton')?.addEventListener('click', handleToggleClick);
</script>

<style>
  .mobileMenu {
    background-color: var(--navBg);
    color: var(--fg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    z-index: 2;
    display: none;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    height: 3.25rem;
    z-index: 3;
    justify-content: space-between;
  }

  .mobileMenu button {
    background-color: transparent;
    border: none;
    color: var(--fg);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Sovana', serif;
    justify-self: flex-end;
  }

  .mobileMenu h2 {
    font-family: 'Sovana', serif;
    font-weight: 700;
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    .mobileMenu {
      display: flex;
    }
    .base {
      padding-top: 3.25rem;
    }
    .content {
      padding-left: 2rem;
    }
  }
</style>
