---
---

<div class="mobileMenu">
  <h2><a href="/">Dave Snider</a></h2>
  <button id="mobileMenuButton">Menu</button>
</div>

<script>
  const navElement = document.getElementById('nav');
  const handleToggleClick = () => {
    navElement.classList.toggle('isOpen');
    document.body.classList.toggle('noScroll');
  };

  document.getElementById('mobileMenuButton').addEventListener('click', handleToggleClick);
</script>

<style>
  .mobileMenu {
    background-color: var(--fg);
    color: var(--bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 2rem;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    height: 3.25rem;
    z-index: 3;
  }

  .mobileMenu button {
    background-color: transparent;
    border: none;
    color: var(--bg);
    font-weight: 700;
    cursor: pointer;
    font-family: 'BerkeleyMono', monospace;
  }

  .mobileMenu h2 {
    font-family: 'Sovana', serif;
  }

  @media (max-width: 768px) {
    .mobileMenu {
      display: flex;
    }
    .base {
      padding-top: 3.25rem;
    }
    .content {
      padding-left: 2rem;
    }
  }
</style>
