---
---

<ul class="social">
  <li>
    <a href="https://social.davesnider.com/@davesnider">Mastodon</a>
  </li>
  <li>
    <a href="https://social.davesnider.com/@davesnider">Github</a>
  </li>
  <li>
    <a href="https://social.davesnider.com/@davesnider">RSS</a>
  </li>
</ul>
