---
const { folder } = Astro.props;
const { count } = Astro.props;
---

<div class="gallery">
  {
    [...Array(count)].map((i, index) => {
      const num = `${index + 1}`.padStart(2, '0');
      return <img src={`/images/${folder}/${num}.jpg`} alt="Folder image" />;
    })
  }
</div>
<style>
  .gallery {
    max-width: 100% !important;
  }

  .gallery img {
    max-width: 100% !important;
    width: 100% !important;
    height: auto;
    margin-bottom: 0.5rem !important;
  }

  .gallery img:last-child {
    margin-bottom: 0;
  }
</style>
