.timeline {
  padding-top: 1.5rem;
}

.timeline__item {
  display: flex;
  gap: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

.timeline__dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: solid 0.15rem var(--fg);
  background-color: var(--bg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
}

.timeline__title {
  font-family: 'Sovana', serif;
  font-size: 1.5rem;
}

.timeline__date {
  line-height: 1;
  font-size: 0.8rem;
  text-align: right;
  white-space: nowrap;
  position: absolute;
  top: 0.85rem;
  right: calc(100% + 0.25rem);
  font-family: 'BerkeleyMono', monospace;
}

.timeline__description {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.timeline__line {
  position: absolute;
  top: 0.75rem;
  left: 0.925rem;
  bottom: 0;
  width: 0.15rem;
  background-color: var(--fg);
  height: 100%;
}

.timeline__item:last-child .timeline__line {
  display: none;
}

.timeline__item--sm .timeline__title {
  font-size: 1rem;
}

.timeline__dotContain {
  width: 2rem;
  min-width: 2rem;
  display: flex;
  justify-content: center;
  padding-top: 0.75rem;
}

.timeline__image {
  margin-top: 1rem;
  width: 50%;
  height: auto;
}
.timeline__video {
  margin-top: 1rem;
  width: 50%;
  aspect-ratio: 16 / 9;
}
