---
const { src, caption } = Astro.props;
---

<div class="image">
  <img src={src} alt={caption} />
  {caption && <p>{caption}</p>}
</div>

<style>
  p {
    font-size: 0.875rem;
    font-family: var(--codeFont);
    text-align: center;
    color: var(--subtle);
  }
  .image {
    margin: 6rem auto !important;
    max-width: 1200px !important;
  }
  img {
    width: 100% !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem !important;
  }
</style>
