---
import dave from '../timeline/images/dave.png';
import { Image } from 'astro:assets';
---

<nav id="nav">
  <div class="stickyTop">
    <a class="name" href="/">
      <div class="egg"></div>
      <div class="borderTop"></div>
      <div class="borderRight"></div>
      <div class="borderBot"></div>
      <div class="borderLeft"></div>
      <p class="firstname">Dave</p>
      <p class="lastname"><span>S</span>níd</p>
      <div class="background"></div>
    </a>
    <p class="navDesc">A chaotic good designer<br />that builds in the browser.</p>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About me</a></li>
    </ul>
  </div>
  <div class="stickyBot">
    <Image src={dave} alt="Dave" width={50} height={50} class="avatar" />
    <ul class="social">
      <li><a href="https://social.davesnider.com/@davesnider">Mastodon</a></li>
      <li><a href="https://www.youtube.com/@snide ">YouTube</a></li>
      <li><a href="https://github.com/snide">Github</a></li>
      <li><a href="mailto:dave.snider@gmail.com">Email</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
    <ul class="theme">
      <li>
        <a tabindex={0} id="themeToggle">Toggle theme</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  const html = document.documentElement;
  if (theme === 'light') {
    html.setAttribute('data-theme', 'light');
  } else {
    html.setAttribute('data-theme', 'dark');
  }

  window.localStorage.setItem('theme', theme);

  const handleToggleClick = () => {
    console.log(html.getAttribute('data-theme'));
    html.setAttribute('data-theme', html.getAttribute('data-theme') === 'dark' ? 'light' : 'dark');
    localStorage.setItem('theme', html.getAttribute('data-theme'));
  };

  document.getElementById('themeToggle').addEventListener('click', handleToggleClick);
</script>

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 2rem;
    min-height: 100vh;
  }

  nav .stickyTop {
    position: sticky;
    top: 2rem;
    z-index: 1;
  }

  nav .stickyBot {
    position: sticky;
    bottom: 3rem;
    z-index: 1;
  }

  nav .stickyBot ul {
    font-size: 0.8rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0;
    margin-left: 1rem;
  }

  nav ul li a {
    font-weight: 700;
    padding: 0.1rem 0.2rem;
    text-decoration: underline;
  }

  nav ul li a:hover {
    background-color: var(--fg);
    color: var(--bg);
  }

  .name {
    font-family: 'Sovana', serif;
    /*  background: conic-gradient(from 90deg at 1px 1px, var(--fg) 90deg, rgba(255, 255, 255, 0.1) 0) 0 0/0.5rem 0.5rem;  */
    /*  background: linear-gradient(-45deg, var(--fg) 0%, var(--fg) 92%, transparent 92%, transparent 100%);  */
    text-align: center;
    position: relative;
    display: block;
    color: var(--fg);
    position: relative;
    text-decoration: none;
    line-height: 1;
    font-weight: 800;
    padding: 1rem;
    pointer: default !important;
  }

  .name:hover .borderTop,
  .name:hover .borderBot,
  .name:hover .borderLeft,
  .name:hover .borderRight {
    opacity: 1;
    visibility: visible;
  }

  .name .borderTop,
  .name .borderBot,
  .name .borderLeft,
  .name .borderRight {
    position: absolute;
    z-index: 3;
    background-color: var(--fg);
    height: 1px;
    width: 1px;
  }

  .name .borderTop {
    top: 0;
    left: -1rem;
    right: -1rem;
    width: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .name .borderBot {
    bottom: 0;
    left: -1rem;
    right: -1rem;
    width: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .name .borderLeft {
    left: 0;
    top: -1rem;
    bottom: -1rem;
    height: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }
  .name .borderRight {
    right: 0;
    top: -1rem;
    bottom: -1rem;
    height: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .firstname {
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    top: 1.8rem;
    font-weight: 600;
    left: 4rem;
    z-index: 3;
    pointer: default !important;
    pointer-events: none;
  }

  .lastname {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    position: relative;
    pointer: default !important;
    pointer-events: none;
    z-index: 2;
  }

  .lastname span {
    pointer: default !important;
    pointer-events: none;
    font-size: 5rem;
    letter-spacing: -0.2rem;
  }

  .navDesc {
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
    padding-left: 1rem;
  }

  #themeToggle {
    cursor: pointer;
    color: var(--bg);
    background: var(--fg);
    padding: 0.2rem 0.5rem;
  }
  .theme {
    padding-top: 2rem;
  }
  .image {
    border-radius: 50%;
    margin: 0 auto;
  }
  .avatar {
    border-radius: 50%;
    border: 4px solid var(--fg);
    margin-left: 1rem;
  }

  @media (max-width: 768px) {
    nav {
      display: none;
      padding: 1rem;
      position: fixed;
      background-color: var(--bg);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      z-index: 2;
    }
    nav.isOpen {
      display: flex;
    }
    .name {
      display: none;
    }
  }
</style>
