---
import dave from '../timeline/images/dave.png';
import { Image } from 'astro:assets';
---

<nav id="nav" transition:persist>
  <div class="stickyTop">
    <a class="name" href="/">
      <div class="egg"></div>
      <div class="borderTop"></div>
      <div class="borderRight"></div>
      <div class="borderBot"></div>
      <div class="borderLeft"></div>
      <p class="awesome">CSS is awesome!</p>
      <p class="firstname">Dave</p>
      <p class="lastname"><span>S</span>níd</p>
      <div class="background"></div>
    </a>
    <p class="navDesc">A chaotic good designer<br />that builds in the browser.</p>
    <ul class="navItems">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About me</a></li>
      <li><a href="/museum">Museum</a></li>
    </ul>
  </div>
  <div class="stickyBot">
    <Image src={dave} alt="Dave" width={50} height={50} class="avatar" />
    <ul class="social">
      <li><a href="https://social.davesnider.com/@davesnider">Mastodon</a></li>
      <li><a href="https://www.youtube.com/@snide ">YouTube</a></li>
      <li><a href="https://github.com/snide">Github</a></li>
      <li><a href="mailto:dave.snider@gmail.com">Email</a></li>
      <li><a href="/rss.xml">RSS</a></li>
    </ul>
    <ul class="theme">
      <li>
        <a tabindex={0} data-theme-toggle class="themeToggle">Toggle theme</a>
      </li>
    </ul>
  </div>
</nav>

<script>
  const themeToggles = document.querySelectorAll('[data-theme-toggle]');

  const getTheme = () => localStorage.getItem('theme') || 'light';

  const setTheme = (theme) => document.documentElement.setAttribute('data-theme', theme);

  window.addEventListener('DOMContentLoaded', () => setTheme(getTheme()));
  document.addEventListener('astro:after-swap', () => setTheme(getTheme()));

  themeToggles.forEach((toggle) => {
    toggle.addEventListener('click', () => {
      const nextTheme = getTheme() === 'light' ? 'dark' : 'light';
      localStorage.setItem('theme', nextTheme);
      setTheme(nextTheme);
    });
  });
</script>

<style>
  nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 2rem 2rem;
    min-height: 100vh;
  }

  nav .stickyTop {
    position: sticky;
    top: 2rem;
    z-index: 1;
  }

  nav .stickyBot {
    position: sticky;
    bottom: 3rem;
    z-index: 1;
  }

  nav .stickyBot ul {
    font-size: 0.8rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style: none;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0;
    margin-left: 1rem;
  }

  nav ul li a {
    font-weight: 700;
    padding: 0.1rem 0.2rem;
  }

  nav ul li a:hover {
    background-color: var(--fg);
    color: var(--bg);
  }

  .name {
    font-family: var(--displayFont);
    /*  background: conic-gradient(from 90deg at 1px 1px, var(--fg) 90deg, rgba(255, 255, 255, 0.1) 0) 0 0/0.5rem 0.5rem;  */
    /*  background: linear-gradient(-45deg, var(--fg) 0%, var(--fg) 92%, transparent 92%, transparent 100%);  */
    text-align: center;
    position: relative;
    display: block;
    color: var(--fg);
    position: relative;
    text-decoration: none;
    line-height: 1;
    font-weight: 800;
    padding: 1rem;
    pointer: default !important;
  }

  .name:hover .borderTop,
  .name:hover .borderBot,
  .name:hover .borderLeft,
  .name:hover .borderRight {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  .name .borderTop,
  .name .borderBot,
  .name .borderLeft,
  .name .borderRight {
    position: absolute;
    z-index: 3;
    background-color: var(--subtle);
    height: 1px;
    width: 1px;
    transition: all 0.2s ease-out;
    transform: scale(0.2);
  }

  .name .borderTop {
    top: 0;
    left: -1rem;
    right: -1rem;
    width: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .name .borderBot {
    bottom: 0;
    left: -1rem;
    right: -1rem;
    width: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .name .borderLeft {
    left: 0;
    top: -1rem;
    bottom: -1rem;
    height: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }
  .name .borderRight {
    right: 0;
    top: -1rem;
    bottom: -1rem;
    height: calc(100% + 2rem);
    visibility: hidden;
    opacity: 0;
  }

  .awesome {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -50%;
    bottom: 1rem;
    transform: scale(0.5);
    color: OrangeRed;
    font-weight: 400;
    font-family: 'BerkeleyMono';
  }

  .firstname {
    font-size: 1rem;
    text-decoration: none;
    position: absolute;
    top: 1.8rem;
    font-weight: 600;
    left: 4rem;
    z-index: 3;
    pointer: default !important;
    pointer-events: none;
    transition: all 0.1s ease-out;
  }

  .lastname {
    font-size: 4rem;
    letter-spacing: 0.1rem;
    line-height: 1;
    position: relative;
    pointer: default !important;
    pointer-events: none;
    z-index: 2;
    transition: all 0.1s ease-out;
    transition-delay: 0.02s;
  }

  .lastname span {
    pointer: default !important;
    pointer-events: none;
    font-size: 5rem;
    letter-spacing: -0.2rem;
  }

  .name:hover .firstname {
    display: inline-block;
    transform: rotate(-8deg) scale(1.1) translateY(-0.2rem) translateX(-0.1rem);
  }
  .name:hover .lastname {
    display: inline-block;
    transform: rotate(-6deg) translateY(-0.5rem) scale(1);
  }

  .name:hover .awesome {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) rotate(-6deg) translateY(-0.5rem) scale(1);
    transition: all 0.1s ease-out;
    transition-delay: 0.2s;
  }

  .navDesc {
    color: var(--subtle);
    font-size: 1rem;
    padding: 2rem 0 1rem 0;
    padding-left: 1rem;
  }

  .themeToggle {
    cursor: pointer;
    color: var(--bg);
    background: var(--fg);
    padding: 0.2rem 0.5rem;
  }
  .theme {
    padding-top: 2rem;
  }
  .image {
    border-radius: 50%;
    margin: 0 auto;
  }
  .avatar {
    border-radius: 50%;
    border: 4px solid var(--fg);
    margin-left: 1rem;
  }

  @media (max-width: 768px) {
    nav {
      visibility: hidden;
      background-color: var(--navBg);
      display: flex;
      padding: 1rem;
      position: fixed;
      top: 52px;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      z-index: 2;
      opacity: 0;
      border-top: 1px solid var(--bg);
      transition: all 0.1s ease-in-out;
      transform: translateY(-2rem);
      min-height: calc(100vh - 52px);
      max-height: calc(100vh - 52px);
    }
    nav.isOpen {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
    nav .navItems {
      font-size: 2rem;
    }
    .name {
      display: none;
    }
    .navDesc {
      padding-top: 0;
    }
  }
</style>
